@use 'sass:meta';

@font-face
{
    font-family: system-ui;
    font-weight: 300;
    font-style: normal;

    src: local('.SFNSText-Light'), local('.HelveticaNeueDeskInterface-Light'), local('.LucidaGrandeUI'), local('Segoe UI Light'), local('Ubuntu Light'), local('Roboto-Light'), local('DroidSans'), local('Tahoma');
}

@font-face
{
    font-family: system-ui;
    font-weight: 300;
    font-style: italic;

    src: local('.SFNSText-LightItalic'), local('.HelveticaNeueDeskInterface-Italic'), local('.LucidaGrandeUI'), local('Segoe UI Light Italic'), local('Ubuntu Light Italic'), local('Roboto-LightItalic'), local('DroidSans'), local('Tahoma');
}

@font-face
{
    font-family: system-ui;
    font-weight: 400;
    font-style: normal;

    src: local('.SFNSText-Regular'), local('.HelveticaNeueDeskInterface-Regular'), local('.LucidaGrandeUI'), local('Segoe UI'), local('Ubuntu'), local('Roboto-Regular'), local('DroidSans'), local('Tahoma');
}

@font-face
{
    font-family: system-ui;
    font-weight: 400;
    font-style: italic;

    src: local('.SFNSText-Italic'), local('.HelveticaNeueDeskInterface-Italic'), local('.LucidaGrandeUI'), local('Segoe UI Italic'), local('Ubuntu Italic'), local('Roboto-Italic'), local('DroidSans'), local('Tahoma');
}

@font-face
{
    font-family: system-ui;
    font-weight: 500;
    font-style: normal;

    src: local('.SFNSText-Medium'), local('.HelveticaNeueDeskInterface-MediumP4'), local('.LucidaGrandeUI'), local('Segoe UI Semibold'), local('Ubuntu Medium'), local('Roboto-Medium'), local('DroidSans-Bold'), local('Tahoma Bold');
}

@font-face
{
    font-family: system-ui;
    font-weight: 500;
    font-style: italic;

    src: local('.SFNSText-MediumItalic'), local('.HelveticaNeueDeskInterface-MediumItalicP4'), local('.LucidaGrandeUI'), local('Segoe UI Semibold Italic'), local('Ubuntu Medium Italic'), local('Roboto-MediumItalic'), local('DroidSans-Bold'), local('Tahoma Bold');
}

@font-face
{
    font-family: system-ui;
    font-weight: 700;
    font-style: normal;

    src: local('.SFNSText-Bold'), local('.HelveticaNeueDeskInterface-Bold'), local('.LucidaGrandeUI'), local('Segoe UI Bold'), local('Ubuntu Bold'), local('Roboto-Bold'), local('DroidSans-Bold'), local('Tahoma Bold');
}

@font-face
{
    font-family: system-ui;
    font-weight: 700;
    font-style: italic;

    src: local('.SFNSText-BoldItalic'), local('.HelveticaNeueDeskInterface-BoldItalic'), local('.LucidaGrandeUI'), local('Segoe UI Bold Italic'), local('Ubuntu Bold Italic'), local('Roboto-BoldItalic'), local('DroidSans-Bold'), local('Tahoma Bold');
}

@font-face
{
    font-family: 'Fira Code';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url('/assets/fonts/fira-code-v8-latin-regular.eot');
    src: url('/assets/fonts/fira-code-v8-latin-regular.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/fira-code-v8-latin-regular.woff2') format('woff2'), url('/assets/fonts/fira-code-v8-latin-regular.woff') format('woff'), url('/assets/fonts/fira-code-v8-latin-regular.ttf') format('truetype'), url('/assets/fonts/fira-code-v8-latin-regular.svg#Fira Code') format('svg');
}

@font-face
{
    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url('/assets/fonts/roboto-condensed-v18-latin-regular.eot');
    src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url('/assets/fonts/roboto-condensed-v18-latin-regular.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/roboto-condensed-v18-latin-regular.woff2') format('woff2'), url('/assets/fonts/roboto-condensed-v18-latin-regular.woff') format('woff'), url('/assets/fonts/roboto-condensed-v18-latin-regular.ttf') format('truetype'), url('/assets/fonts/roboto-condensed-v18-latin-regular.svg#Roboto Condensed') format('svg');
}

@font-face
{
    font-family: 'Poppins';
    font-weight: 200;
    font-style: normal;

    font-display: swap;
    src: url('/assets/fonts/poppins-v9-latin-200.eot');
    src: local('Poppins ExtraLight'), local('Poppins-ExtraLight'), url('/assets/fonts/poppins-v9-latin-200.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/poppins-v9-latin-200.woff2') format('woff2'), url('/assets/fonts/poppins-v9-latin-200.woff') format('woff'), url('/assets/fonts/poppins-v9-latin-200.ttf') format('truetype'), url('/assets/fonts/poppins-v9-latin-200.svg#Poppins') format('svg');
}

@font-face
{
    font-family: 'Poppins';
    font-weight: 300;
    font-style: normal;

    font-display: swap;
    src: url('/assets/fonts/poppins-v9-latin-300.eot');
    src: local('Poppins Light'), local('Poppins-Light'), url('/assets/fonts/poppins-v9-latin-300.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/poppins-v9-latin-300.woff2') format('woff2'), url('/assets/fonts/poppins-v9-latin-300.woff') format('woff'), url('/assets/fonts/poppins-v9-latin-300.ttf') format('truetype'), url('/assets/fonts/poppins-v9-latin-300.svg#Poppins') format('svg');
}

@font-face
{
    font-family: 'Poppins';
    font-weight: 400;
    font-style: normal;

    font-display: swap;
    src: url('/assets/fonts/poppins-v9-latin-regular.eot');
    src: local('Poppins Regular'), local('Poppins-Regular'), url('/assets/fonts/poppins-v9-latin-regular.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/poppins-v9-latin-regular.woff2') format('woff2'), url('/assets/fonts/poppins-v9-latin-regular.woff') format('woff'), url('/assets/fonts/poppins-v9-latin-regular.ttf') format('truetype'), url('/assets/fonts/poppins-v9-latin-regular.svg#Poppins') format('svg');
}

@font-face
{
    font-family: 'Poppins';
    font-weight: 600;
    font-style: normal;

    font-display: swap;
    src: url('/assets/fonts/poppins-v9-latin-600.eot');
    src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url('/assets/fonts/poppins-v9-latin-600.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/poppins-v9-latin-600.woff2') format('woff2'), url('/assets/fonts/poppins-v9-latin-600.woff') format('woff'), url('/assets/fonts/poppins-v9-latin-600.ttf') format('truetype'), url('/assets/fonts/poppins-v9-latin-600.svg#Poppins') format('svg');
}

@font-face
{
    font-family: 'Poppins';
    font-weight: 900;
    font-style: normal;

    font-display: swap;
    src: url('/assets/fonts/poppins-v9-latin-900.eot');
    src: local('Poppins Black'), local('Poppins-Black'), url('/assets/fonts/poppins-v9-latin-900.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/poppins-v9-latin-900.woff2') format('woff2'), url('/assets/fonts/poppins-v9-latin-900.woff') format('woff'), url('/assets/fonts/poppins-v9-latin-900.ttf') format('truetype'), url('/assets/fonts/poppins-v9-latin-900.svg#Poppins') format('svg');
}
