.budget {
  $self: &;
  &__titles {
    #{ $self }__title {
      @include font(_heading((h4, 1)), $font-family, $weight-light);
      @include margin(0 null 10px);
    }
    #{ $self }__value {
      font-size: floor(_heading((h1, 1)) * 2);
      font-weight: $weight;
      line-height: normal;
      color: #fff;
      @include margin(25px null 35px);
      padding: 0;
      box-sizing: border-box;
      text-align: center;
      letter-spacing: 2px;
    }
  }
  &__income,
  &__expenses,
  &__savings {
    @include flex(center, space-between, row);
    padding: 12px;
    color: v(colour-white);
    h4 {
      text-transform: uppercase;
      margin: 0;
    }
    #{ $self }__amount {
      @include flex(center, center, row, false);
      margin: 0;
      font-size: _heading((h5, 1));
      .sign {
        margin-right: 4px;
      }
    }
  }
  &__income {
    background-color: v(colour-success);
    margin-bottom: 15px;
  }
  &__expenses,
  &__savings {
    #{ $self }__data {
      @include flex(center, center, row, false);
    }
    #{ $self }__percentage {
      font-weight: $weight-exlight;
      font-size: $font-md;
      opacity: 0;
      width: 0;
      @include margin(0);
      padding: 0;
      transition: all 0.3s ease-in;
      &.show {
        opacity: 1;
        width: auto;
        @include padding(3px 6px);
        margin-left: 5px;
      }
    }
  }
  &__expenses {
    background-color: v(colour-error);
    margin-bottom: 15px;
    #{ $self }__percentage {
      background-color: hex2hsla(lighten(_colour(error), 15%), 50%);
    }
  }
  &__savings {
    background-color: v(colour-secondary);
    #{ $self }__percentage {
      background-color: hex2hsla(lighten(_colour(secondary), 15%), 50%);
    }
  }
}

.add {
  $self: &;
  padding: 14px;
  border-bottom: 1px solid v(colour-grey-light);
  background-color: v(colour-grey-lighter);
  &__form {
    @include flex(center, center, row);
    text-align: center;
    #{ $self }__type {
      @include size(55px, 44px);
      border: 1px solid v(colour-grey-light);
      font-size: _heading((h6, 1));
      background-color: v(colour-white);
      margin-right: 10px;
    }
    #{ $self }__description,
    #{ $self }__value {
      margin: 0;
      box-sizing: border-box;
      border: 1px solid v(colour-grey-light);
      background-color: v(colour-white);
      font-size: $font-sm;
      @include padding(12px 15px);
      margin-right: 10px;
      border-radius: 5px;
    }
    #{ $self }__description {
      width: 400px;
    }
    #{ $self }__button {
      > svg {
        @include size(35px, 41px);
        color: v(colour-success);
        &.exp {
          color: v(colour-error);
        }
        &.sav {
          color: v(colour-secondary);
        }
      }
    }
  }
}

.income,
.expenses,
.savings {
  $self: &;
  &__title {
    text-align: center;
    margin-top: unset;
    text-transform: uppercase;
  }
  &__list {
    list-style: none;
    padding-left: 0;
    > li {
      @include flex(center, space-between, row);
      margin: 0;
      box-sizing: border-box;
      padding: 13px;
      border-bottom: 1px solid v(colour-grey-light);
      position: relative;
      font-size: inherit;
      font-family: inherit;
      outline: none;
      z-index: 1;
      &::before {
        content: '';
        z-index: -1;
        @include center(true, false);
        top: 0;
        bottom: 0;
        background-color: v(colour-error);
        transform-origin: center left;
        transform: scaleX(0);
        transition: transform 0.25s ease-in-out;
      }
      &.confirm {
        &::before {
          transform-origin: center right;
          transform: scaleX(1);
        }
        p {
          &:first-of-type {
            display: none;
          }
        }
      }
      &:first-child {
        border-top: 1px solid v(colour-grey-light);
      }
      .item-desc {
        line-height: normal;
      }
      .items {
        @include flex(center, flex-end, row);
        &__value,
        &__percent {
          margin-left: 5px;
        }
        &__value {
          font-weight: $weight-heavy;
          line-height: normal;
          p {
            margin: 0;
          }
        }
        &__del {
          line-height: normal;
          @include size(null, 20px);
          > svg {
            @include size(0, 20px);
          }
        }
      }
    }
  }
}

.income {
  &__title {
    color: v(colour-success);
  }
  .items {
    &__value,
    &__del > svg {
      color: v(colour-success);
    }
  }
}

.savings {
  &__title {
    color: v(colour-secondary);
  }
  .items {
    &__value,
    &__del > svg {
      color: v(colour-secondary);
    }
  }
}

.expenses {
  &__title {
    color: v(colour-error);
  }
  .items {
    &__value,
    &__del > svg {
      color: v(colour-error);
    }
  }
}
