.budget {
  $self: &;
  &__titles {
    #{ $self }__title {
      @include font(_heading((h4, 1)), $font-family, $weight-light);
      @include margin(0 null 10px);
    }
    #{ $self }__value {
      font-size: floor(_heading((h1, 1)) * 2);
      font-weight: $weight;
      line-height: normal;
      color: #fff;
      @include margin(25px null 35px);
      padding: 0;
      box-sizing: border-box;
      text-align: center;
      letter-spacing: 2px;
    }
  }
  &__income,
  &__expenses,
  &__savings {
    @include flex(center, space-between, row);
    padding: 12px;
    color: v(colour-white);
    h4 {
      text-transform: uppercase;
      margin: 0;
    }
    #{ $self }__amount {
      @include flex(center, center, row, false);
      margin: 0;
      font-size: _heading((h5, 1));
      @supports (gap: 1px) {
        gap: 5px;
      }
      .amount {
        margin-left: 5px;
        @supports (gap: 1px) {
          margin-left: unset;
        }
      }
    }
  }
  &__income {
    background-color: v(colour-success);
    margin-bottom: 15px;
  }
  &__expenses,
  &__savings {
    .percentage {
      font-weight: $weight-exlight;
      font-size: $font-md;
      background-color: hex2hsla(lighten(_colour(error), 15%), 50%);
      opacity: 0;
      width: 0;
      margin-left: 0;
      padding: 0;
      transition: all 0.3s ease-in;
      &.show {
        opacity: 1;
        width: auto;
        @include padding(3px 6px);
        margin-left: 5px;
        @supports (gap: 1px) {
          margin-left: unset;
        }
      }
    }
  }
  &__expenses {
    background-color: v(colour-error);
    margin-bottom: 15px;
  }
  &__savings {
    background-color: v(colour-secondary);
  }
}

.add {
  $self: &;
  padding: 14px;
  border-bottom: 1px solid v(colour-grey-light);
  background-color: v(colour-grey-lighter);
  &__form {
    @include flex(center, center, row);
    text-align: center;
    #{ $self }__type {
      @include size(55px, 44px);
      border: 1px solid v(colour-grey-light);
      font-size: _heading((h6, 1));
      background-color: v(colour-white);
      margin-right: 10px;
    }
    #{ $self }__description,
    #{ $self }__value {
      margin: 0;
      box-sizing: border-box;
      border: 1px solid v(colour-grey-light);
      background-color: v(colour-white);
      font-size: $font-sm;
      @include padding(12px 15px);
      margin-right: 10px;
      border-radius: 5px;
    }
    #{ $self }__description {
      width: 400px;
    }
    #{ $self }__button {
      > svg {
        @include size(35px, 41px);
        color: v(colour-success);
        &.exp {
          color: v(colour-error);
        }
      }
    }
  }
}

.income,
.expenses {
  $self: &;
  &__title {
    text-align: center;
    margin-top: unset;
  }
  &__list {
    list-style: none;
    padding-left: 0;
    > li {
      @include flex(center, space-between, row);
      margin: 0;
      box-sizing: border-box;
      padding: 13px;
      border-bottom: 1px solid v(colour-grey-light);
      &:first-child {
        border-top: 1px solid v(colour-grey-light);
      }
      .item-desc {
        line-height: normal;
      }
      .items {
        @include flex(center, flex-end, row);
        @supports (gap: 1px) {
          gap: 5px;
        }
        &__value,
        &__percent {
          margin-left: 5px;
          @supports (gap: 1px) {
            margin-left: unset;
          }
        }
        &__value {
          font-weight: $weight-heavy;
          line-height: normal;
          p {
            margin: 0;
          }
        }
        &__del {
          line-height: normal;
          @include size(null, 20px);
          opacity: 0;
          margin-left: 0;
          transition: opacity 1.4s ease-in-out;
          > svg {
            @include size(0, 20px);
            width: 0;
            transition: width 0.2s ease-in-out;
          }
        }
        @include call-to-action {
          .items__del {
            width: auto;
            opacity: 1;
            margin-left: 5px;
            @supports (gap: 1px) {
              margin-left: unset;
            }
            > svg {
              @include size(20px, null);
            }
          }
        }
      }
    }
  }
}

.income {
  &__title {
    color: v(colour-success);
  }
  .items {
    &__value,
    &__del > svg {
      color: v(colour-success);
    }
  }
}

.expenses {
  &__title {
    color: v(colour-error);
  }
  .items {
    &__value,
    &__del > svg {
      color: v(colour-error);
    }
  }
}
