.hero {
  $self: &;
  @include bgImg(
    'volcano.jpg',
    center center,
    'responsive',
    null,
    '<=200',
    '<=482',
    '<=672',
    '<=835',
    '<=973',
    '<=1098',
    '<=1212',
    '<=1322',
    '<=1377',
    '<=1400'
  );
  /// If reduced data os enabled on device, turn off images.
  @media (prefers-reduced-data) {
    background-image: none !important;
    background-color: v(colour-primary);
  }
  position: relative;
  width: 100%;
  min-height: 760px;
  background-color: v(colour-white);
  @include overlay(black, 0.4);
  &__body {
    @include size(100%);
    #{ $self }__inner {
      -webkit-box-pack: center;
      @include flex(center, center, column);
      @include size(100%);
      text-align: center;
      color: v(colour-white);
      @include padding(null 15px);
      @include size(670px, null, max);
      margin: 0 auto;
    }
  }
  &--fullheight {
    @include size(null, 100vh);
    @include size(null, 100vh, min);
  }
}
