/// Colours

// The color palette
// todo: There are too many colours. Reduce.
$palette: (
  light: (
    1: #f9faff,
    2: #f7f7f7,
    3: #e7e7e7,
    4: #ccc,
  ),
  dark: (
    1: #16171b,
    2: #1c1d22,
    3: #292b32,
  ),
  primary: (
    1: #57423f,
    2: #bfa6a2,
    3: #be3568,
  ),
  alert: (
    error: #d43b3b,
    success: #86b731,
  ),
);

// Base colours.
$colours: (
  black: get-color(dark, 1),
  white: get-color(light, 1),
  grey: get-color(light, 4),
  grey-dark: get-color(dark, 3),
  grey-darker: get-color(dark, 2),
  grey-light: get-color(light, 3),
  grey-lighter: get-color(light, 2),
  primary: get-color(primary, 1),
  secondary: get-color(primary, 2),
  text: get-color(dark, 2),
  text-secondary: get-color(light, 3),
  accent: get-color(primary, 3),
  error: get-color(alert, error),
  success: get-color(alert, success),
) !default;

/// Font
$font-family: quote(Poppins), system-ui, sans-serif !default;
$font-family-header: quote(Roboto Condensed), system-ui, sans-serif;
$font-family-code: quote(Fira Code), Monaco, Consolas, quote(Andale Mono),
  quote(DejaVu Sans Mono), monospace !default;
$font-family-pre: quote(Courier 10 Pitch), Courier, monospace !default;

$headings: (
  h1: (
    54px,
    unset,
    null,
  ),
  h2: (
    38px,
    48px,
    null,
  ),
  h3: (
    32px,
    42px,
    null,
  ),
  h4: (
    24px,
    34px,
    -0.1px,
  ),
  h5: (
    20px,
    32px,
    -0.1px,
  ),
  h6: (
    18px,
    30px,
    -0.1px,
  ),
) !default;

$font-md: 17px;
$font-base: 16px;
$font-sm: 14px;
$font-xs: 12px;

$weight: 400;
$weight-exlight: 200;
$weight-light: 300;
$weight-heavy: 600;
$weight-exheavy: 900;
