<header class="site-header reveal-from-top navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item site-logo" href="{{ site.baseurl | default: site.url }}">{%- include svg-icon.html icon="coins" id="logo" title="Stack of coins" desc="A vector image of two stacks of coins" -%} <span class="site-logo__title">{{ site.title }}</span></a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="site-nav">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-end">
      {%- include_cached navigation.html -%}
      <div class="navbar-item">
        <button id="save" class="btn btn--ghost" aria-label="Save the current budget for later viewing" title="Save current budget"
          type="button">Save</button>
        <form class="load-budgets">
          <input class="chosen-date" type="text" value="" placeholder="Choose a date" />
          <ul class="date-list">
            <li>No saved dates</li>
          </ul>
          <button class="btn" type="submit">Load</button>
        </form>
      </div>
    </div>
  </div>
</header>
