{%- assign hero = page.hero -%}

<section class="hero{% if include.class %} {{ include.class }}{% endif %}">
  <div class="hero__body container">
    <div class="hero__inner">
      <h1 class="reveal-from-bottom" data-reveal-delay="150">{{ hero.title | default: site.title }}</h1>
      <div class="budget">
        <hgroup class="budget__titles">
          <h2 class="budget__title">Available budget in <span class="budget__date">{{ site.time | date: '%B %Y' }}</span>:</h2>
          <h3 class="budget__value"><span class="currency">&pound;</span>0</h3>
        </hgroup>

        <div class="budget__income">
          <h4>Income</h4>
          <p class="budget__amount"><span class="sign">&#43;</span><span class="amount"> 0</span></p>
        </div>

        <div class="budget__expenses">
          <h4>Expenses</h4>
          <div class='budget__data'>
            <p class="budget__amount"><span class="sign">&#45;</span><span class="amount"> 0</span></p>
            <p class="budget__percentage">0&#37;</p>
          </div>
        </div>

        <div class="budget__savings">
          <h4>Savings</h4>
          <div class='budget__data'>
            <p class="budget__amount"><span class="sign">&#45;</span><span class="amount"> 0</span></p>
            <p class="budget__percentage">0&#37;</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
