{%- assign hero = page.hero -%}

<section class="hero{% if include.class %} {{ include.class }}{% endif %}">
  <div class="hero__body container">
    <div class="hero__inner">
      <h1 class="reveal-from-bottom" data-reveal-delay="150">{{ hero.title | default: site.title }}</h1>
      <div class="budget">
        <hgroup class="budget__titles">
          <h2 class="budget__title">Available Budget in <span class="budget__month">{{ site.time | date: '%B' }}</span>:</h2>
          <h3 class="budget__value">0.00</h3>
        </hgroup>
          
        <div class="budget__income">
          <h4>Income</h4>
          <div class="budget__amounts">
              <div class="budget__amount">+ 0.00</div>
              <div class="budget__percentage">&nbsp;</div>
          </div>
        </div>
        
        <div class="budget__expenses">
          <h4>Expenses</h4>
          <div class="budget__amounts">
            <div class="budget__amount">- 0.00</div>
            <div class="budget__percentage">--</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
