.site-header {
  @include padding(20px null);
  > .container {
    @include flex(center, space-between, row);
  }
  .navbar-brand {
    .site-logo {
      @include flex(center, center, row);
      text-decoration: none;
      &__title {
        font-size: _heading((h4, 1));
        font-family: $font-family-header;
        opacity: 0;
        transform: translateX(-56px);
        transition: opacity 1s ease-in, transform 0.85s ease-in;
        @include hardware;
        z-index: 0;
      }
      &--active {
        opacity: 1;
        transform: translateX(0);
      }
      svg {
        @include size(45px, 45px);
        margin-right: 10px;
        color: v(colour-accent);
        position: relative;
        z-index: 1;
      }
    }
  }
  .navbar-end {
    width: 50%;
    min-width: 300px;
    > .navbar-item {
      @include flex(center, space-evenly, row);
      width: 100%;
    }
  }
  .load-budgets {
    position: relative;
    width: fit-content;
    @include flex(center, center, row, false);
    #chosen-date {
      @include margin(0 10px null null);
      box-sizing: border-box;
      @include size(100%, 51px);
      text-transform: uppercase;
      font-weight: $weight;
      font-size: $font-base;
      letter-spacing: 2px;
      @include padding(10px 16px);
      background-color: v(colour-grey-light);
      border: 3px solid transparent;
      border-radius: 8px;
      transition: 0.3s ease-in-out;
    }
    .date-list {
      text-transform: uppercase;
      font-weight: $weight;
      @include margin(4rem 0 0);
      @include padding(0);
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      @include size(100%, null);
      list-style: none;
      box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      max-height: 0;
      z-index: 2;
      transition: all 0.3s ease-in-out;
      @include hardware;
      &.open {
        max-height: 320px;
        overflow: auto;
      }
      &.closed {
        max-height: 0;
        overflow: hidden;
      }
      > li {
        position: relative;
        @include size(null, 4rem);
        background-color: v(colour-grey-light);
        @include padding(1rem);
        @include flex(center, flex-start);
        cursor: pointer;
        transition: background-color 0.3s;
        &:hover {
          background-color: v(colour-accent);
        }
      }
    }
  }
}
